*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: rgb(248, 255, 154);
  --text-color: black;
  --accent-color: rgb(147, 108, 0);
}

body.dark-mode {
  --bg-color: #1a1a1a;
  --text-color: #f0f0f0;
  --accent-color: #333333;
  .right-nav.active {
    background-color: rgba(30, 28, 28, 0.95);
    backdrop-filter: blur(5px);
  }

  .nav.scrolled {
    background-color: rgba(30, 28, 28, 0.9);
    backdrop-filter: blur(5px);
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .qoutes {
    background-color: rgba(61, 54, 54, 0.484);
    p {
      color: #f0f0f0;
    }
  }

  .contact-section {
    background-color: #333333;
    color: #f0f0f0;
  }

  .education-section {
    .topline,
    .firstline,
    .secondline,
    .thirdline,
    .fourthline {
      background-color: #f0f0f0;
    }

    h1,
    h2,
    h3,
    h4 {
      color: #f0f0f0;
    }
  }

  .certificates-section {
    .topline,
    .firstline {
      background-color: #f0f0f0;
    }

    h1,
    p {
      color: #f0f0f0;
    }
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: monospace, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.about-section,
.education-section,
#main-section {
  scroll-margin-top: 80px;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
}

.nav.scrolled {
  background-color: rgba(248, 255, 154, 0.9);
  backdrop-filter: blur(5px);
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.left-nav {
  font-family: monospace, Helvetica, sans-serif;
  cursor: pointer;
}

.left-nav h1 {
  font-size: 24px;
  margin: 0;
  position: relative;
  display: inline-block;

  .kho {
    display: none;
  }
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: monospace;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  transition: 0.4s;
  width: 50px;
  height: 26px;
  border-radius: 34px;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 18px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 18px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #000000;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 30px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.right-nav {
  display: none;
  width: 100%;
  position: absolute;
  top: 55px;
  left: 0;
}

.right-nav.active {
  display: block;
  background-color: rgba(248, 255, 154, 0.95);
  backdrop-filter: blur(5px);
}

.right-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin: 0;
  list-style: none;
}

.right-nav ul li {
  margin: 10px 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 5px 4px 5px rgb(33, 28, 28);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
  width: 150px;
  height: 40px;
}

.right-nav ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  font-family: monospace, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

#main-section {
  padding-top: 70px;
}

.My-name {
  font-family: monospace, Helvetica, sans-serif;
  font-size: 32px;
  text-align: center;
  padding: 30px;
}

.main-para {
  font-family: monospace, Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.btns button {
  font-family: monospace, Helvetica, sans-serif;
  color: white;
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 121px;
  height: 45px;

  a {
    text-decoration: none;
    color: white;
  }
}

.about-section {
  background-color: rgba(147, 108, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin: 50px auto;
  border-radius: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.img-info img {
  display: none;
}

.about-me {
  padding: 30px 0;
  border-radius: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-section {
  text-align: center;
  font-family: monospace, Helvetica, sans-serif;
  margin: 0;

  .topline {
    width: 300px;
    height: 5px;
    background-color: black;
    margin: 0 auto;
  }

  .firstline {
    width: 5px;
    height: 50px;
    background-color: black;
    margin: 0 auto;
  }

  .secondline {
    width: 5px;
    height: 50px;
    background-color: black;
    margin: 0 auto;
  }

  .thirdline {
    width: 5px;
    height: 50px;
    background-color: black;
    margin: 0 auto;
  }

  .fourthline {
    width: 300px;
    height: 5px;
    background-color: black;
    margin: 0 auto;
  }

  h1 {
    font-size: 32px;
    margin: 20px;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 0px 12px;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 3px;
    padding: 0px 12px;
  }

  h4 {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px 12px;
  }
}

.certificates-section.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  p {
    display: none;
  }

  h1 {
    display: none;
  }

  .topline,
  .firstline {
    display: none;
  }

  .btnss {
    position: absolute;
    box-shadow: 5px 5px 5px rgba(66, 63, 63, 0.418);
    top: 70%;
    left: 13%;
    transform: translate(50%, -50%);
    z-index: 2001;
  }
}

.certificates-section.active img {
  display: block;
  position: fixed;
  width: 80%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.certificates-section {
  text-align: center;
  font-family: monospace, Helvetica, sans-serif;
  margin: 0;

  .cert-modal-content .close-cert {
    display: none;
  }

  .topline {
    width: 300px;
    height: 5px;
    background-color: black;
    margin: 0 auto;
  }

  .firstline {
    width: 5px;
    height: 50px;
    background-color: black;
    margin: 0 auto;
  }

  img {
    width: 200px;
    height: auto;
    margin-top: 10px;
    border: 5px solid black;
  }

  h1 {
    font-size: 32px;
    margin: 20px;
  }

  .yes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btnss {
      font-family: monospace, Helvetica, sans-serif;
      color: white;
      background-color: black;
      border: none;
      margin-top: 20px;
      border-radius: 5px;
      cursor: pointer;
      width: 150px;
      height: 45px;
    }
  }

  p {
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 10px 30px;
  }
}
.contact-section {
  background-color: rgb(147, 108, 0);
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  font-family: monospace, Helvetica, sans-serif;
  color: white;
  backdrop-filter: blur;

  .contact-info {
    margin-top: 10px;
  }
}

.qoutes {
  background-color: rgba(126, 96, 13, 0.484);
  margin: 50px auto;
  border-radius: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  p {
    font-family: monospace, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    color: black;
    text-align: center;
    max-width: 600px;
    margin: 0;
  }
}

@media (min-width: 769px) {
  .nav {
    padding: 20px 0;
  }

  .left-nav {
    padding: 0px 20px;

    h1 {
      font-size: 32px;

      .kho {
        display: inline;
      }
    }
  }
  .left-nav h1::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 50%;
    width: 30%;
    height: 5px;
    background-color: black;
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }

  .left-nav h1:hover::after {
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .right-nav {
    display: block;
    position: static;
    width: auto;
  }

  .right-nav ul {
    flex-direction: row;
    padding: 0;
  }

  .right-nav ul li {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }

  .right-nav ul li:hover {
    transform: translateY(-5px);
  }

  .My-name {
    font-size: 50px;
    margin-top: 70px;
  }

  .main-para {
    font-size: 28px;
    margin-top: 50px;
  }

  .about-section {
    flex-direction: row;
    width: 80%;
  }

  .img-info img {
    display: block;
    width: 50px;
    padding: 15px;
  }

  .about-me {
    font-size: 1.5rem;
    text-align: left;
  }

  .close-x {
    right: 300px;
    top: 5%;
  }
}
