* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(1, 1, 67);
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(1, 1, 55);
  height: 50px;
  align-items: center;
}
.left {
  color: white;
  font-size: 1.4rem;
  font-family: sans-serif;
  word-spacing: 2px;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  list-style: none;
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 60px 0;
}
.right-section img {
  width: 350px;
}
.left-section {
  font-size: 2.6rem;
  color: white;
  text-align: justify;
}
.Harrison {
  color: rgb(101, 101, 210);
}
.btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 10px 0;
}
.button {
  padding: 10px;
  background-color: rgb(101, 101, 203);
  color: white;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.button a {
  text-decoration: none;
  color: white;
}
.button:active {
  transform: scale(0.9);
}
.About-me {
  display: flex;
  flex-direction: column;
}
.about-me-content {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}
.about-me-heading {
  font-size: 40px;
  color: white;
  margin: 0 auto;
}
.about-me-image img {
  width: 350px;
}
.about-me-text {
  width: 400px;
  font-size: 20px;
}
