body {
  background-color: rgb(248, 255, 154);
  color: black;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.right-nav ul {
  display: flex;
  justify-content: center;
}

.right-nav ul li {
  font-family: monospace, Helvetica, sans-serif;
  color: white;
  list-style: none;
  margin-left: 10px;
  background-color: black;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 30px;
  box-shadow: 5px 4px 5px rgb(33, 28, 28);

  a {
    text-decoration: none;
    color: white;
  }

  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }
}

.left-nav {
  font-family: monospace, Helvetica, sans-serif;
  padding: 0px 30px 0px 30px;
  margin: none;

  cursor: pointer;

  h1 {
    border: none;
    margin: 0;
    position: relative;
    display: inline-block;
  }

  h1::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 50%;
    width: 30%;
    height: 5px;
    background-color: black;
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }

  h1:hover::after {
    width: 100%;
  }
}

.My-name {
  font-family: monospace, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

.main-para {
  font-family: monospace, Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 50px;
}

.hamburger {
  display: none; /* Hidden by default on desktop */
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 30px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;

  button {
    font-family: monospace, Helvetica, sans-serif;
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgb(33, 28, 28);
    }
  }
}

.about-section {
  background-color: rgb(147, 108, 0);
  margin: 50px auto;
  border-radius: 30px;
  width: 80%;
  height: 300px;
}

@media (max-width: 768px) {
  .left-nav h1 {
    font-size: 24px;
    border: none;
  }

  .hamburger {
    display: flex; /* Show hamburger on mobile */
  }

  .right-nav {
    display: none; /* Hide the menu by default on mobile */
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgb(198, 207, 64);
  }

  /* When this class is added via JS, the menu appears */
  .right-nav.active {
    display: block;

    ul li {
      margin: 10px 0;
      width: 70px;
      text-align: center;

      &:hover {
        background-color: rgb(33, 28, 28);
        color: white;
      }

      &:active {
        background-color: rgb(33, 28, 28);
        color: white;
        transform: scale(20px);
      }
    }

    ul li a {
      text-decoration: none;
      color: white;
    }
  }

  .right-nav ul {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
}
